language: php
os: linux
dist: bionic
php:
  - '7.3'
  - '7.4'
services:
  - redis
addons:
  chrome: stable
  mariadb: '10.3'
cache:
  directories:
    - site/vendor
    - "$HOME/.composer/cache"
before_install: cd site
install:
  - mysql -e 'CREATE DATABASE impact_test;'
  - mysql -e "SET GLOBAL sql_mode = 'NO_ENGINE_SUBSTITUTION';"
  - cp .env.testing .env
  - travis_retry composer install --no-interaction --prefer-dist --no-suggest
  - php artisan key:generate
  - php artisan config:clear
  - php artisan config:cache
  - php artisan migrate
  - php artisan db:seed
before_script:
  - php artisan dusk:chrome-driver
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
  - php artisan serve &
script:
  - php artisan dusk
  - "./vendor/bin/phpunit"
after_failure:
  - php artisan email:failure
notifications:
  slack:
    secure: QJWuJ7MoX8+lG+j6aQboJgN9bfO5v4Blg9SRGTEfg8zYL9tFnL9sTjpAUZa7Ipx5j1iAszwSuc+gHRLeHowtyef3S5WcgubIj6zufFDYU+o+n22A6gxWfEyJRJAzwPHUR6EfY3a+6jSqJkHibEDIf/zkXoD9fEq66d8g1l9QRyB1/izVTlLb+DPcZC9+X9UI9vsQ+GxUfjSXAMkLPGw7kuKxdT21JYBVAdXyBPvanb0O+tl3v61FFyxeck16xpsDe3Jl+w7Bp4jnB2xmY4RMiyS1uOdaMkVef96WYbS3l5jEoXZm4UVSylpcrtpvxF/XdR0tkZ0RaPnPEqpS+g4uakSYudQ1B0McqbaVn1lIHgFdfEwhrkSi3w9MAUcS8B7bCMKDc1ruqPlutuiTmrk8Hm2YNsg3gZkg5w/QpGwek3PgDywO34ktyuStEQW4c8v1pRisJTVT+wQ2jxc5bA8YddWQ12xqzhHSbrRuPrm23YIsDEATer/ta/zSu5/vFE4OqWC2cffvPbTWoC0GY+cdYOl1mJOtqseCsbOWfm1lc920jGWN2VSepTAMVi931a0y+Mviip+lcbysNyEbOsUrBs8T6eytGt37e6+0/E2HRlHCnErt7V4m9mYV5NRp1pC6aZVX/sErr9HlL5KHAsTpwkapFiIRIdhNufjh/1w5MmU=
