version: '2.4'

networks:
  impact-net:
    driver: bridge

services:
  impact-web:
    image: nginx:1.17
    env_file:
      - ./dev/.env
    links:
      - impact-app:app
    working_dir: /var/www
    volumes:
      - ./dev/config/vhost.conf:/etc/nginx/conf.d/default.conf
      - ./dev/config/nginx.conf:/etc/nginx/conf.d/nginx.conf
    volumes_from:
      - impact-app
    ports:
      - "8787:80"
    networks:
      - impact-net
    container_name: impact-web
  impact-app:
    image: unillett/impact:v1.4
    env_file:
      - ./dev/.env
    working_dir: /var/www
    volumes:
      - ./site:/var/www
      - ./dev/config/php.ini:/usr/local/etc/php/conf.d/uploads.ini
    expose:
      - "9000"
    links:
      - impact-mariadb:database
      - impact-mailhog:mail
    networks:
      - impact-net
    container_name: impact-app
  impact-mariadb:
    image: mariadb:10.3
    env_file:
      - ./dev/.env
    volumes:
      - ./dev/dbdata:/var/lib/mysql
      - ./dev/config/my.cnf:/etc/mysql/my.cnf
    ports:
      - "3303:3306"
    networks:
      - impact-net
    container_name: impact-mysql
  impact-myadmin:
    image: phpmyadmin/phpmyadmin:latest
    env_file:
      - ./dev/.env
    links:
      - impact-mariadb:database
    ports:
      - "9898:80"
    networks:
      - impact-net
    container_name: impact-myadmin
  impact-mailhog:
    image: mailhog/mailhog:latest
    expose:
      - "1025"
    ports:
      - "8026:8025"
    networks:
      - impact-net
    container_name: impact-mailhog
