version: '2.4'

networks:
  impact-net:
    driver: bridge

name: impact

services:
  impact-web:
    image: nginx:1.17
    env_file:
      - ./dev/.env
    working_dir: /var/www
    volumes:
      - ./dev/config/vhost.conf:/etc/nginx/conf.d/default.conf
      - ./dev/config/nginx.conf:/etc/nginx/conf.d/nginx.conf
    volumes_from:
      - impact-app
    ports:
      - "127.0.0.1:8787:80"
    networks:
      - impact-net
    container_name: impact-web
  impact-app:
    image: unillett/impact:latest
    build:
      context: ./dev/config
      dockerfile: ./app.dockerfile
    env_file:
      - ./dev/.env
    working_dir: /var/www
    volumes:
      - ./site:/var/www
      - ./dev/config/php.ini:/usr/local/etc/php/conf.d/uploads.ini
    expose:
      - "9000"
    networks:
      - impact-net
    container_name: impact-app
  impact-mysql:
    image: mariadb:10.4
    env_file:
      - ./dev/.env
    volumes:
      - mysql-data:/var/lib/mysql
      - ./dev/config/my.cnf:/etc/mysql/my.cnf
    ports:
      - "127.0.0.1:3303:3306"
    networks:
      - impact-net
    container_name: impact-mysql
  impact-mysql-testing:
    image: mariadb:10.4
    env_file:
      - ./dev/.env
    volumes:
      - dusk-data:/var/lib/mysql
      - ./dev/config/my-testing.cnf:/etc/mysql/my.cnf
    expose:
      - "3307"
    networks:
      - impact-net
    container_name: impact-mysql-testing
  impact-myadmin:
    image: phpmyadmin/phpmyadmin:latest
    env_file:
      - ./dev/.env
    ports:
      - "127.0.0.1:9898:80"
    networks:
      - impact-net
    container_name: impact-myadmin
  impact-mailhog:
    image: mailhog/mailhog:latest
    expose:
      - "1025"
    ports:
      - "127.0.0.1:8026:8025"
    networks:
      - impact-net
    container_name: impact-mailhog
  impact-selenium:
    image: selenium/standalone-chrome:latest
    shm_size: 2gb
    ports:
      - "127.0.0.1:4444:4444"
    networks:
      - impact-net
    container_name: impact-selenium

volumes:
  mysql-data:
  dusk-data:
