.admin-content {
    #users,
    #invitations,
    #courses,
    #files {
        .card-header {
            .title {
                font-size: 1.5em;
            }
        }

        table {
            tbody {
                .badge {
                    font-size: 1em;
                }

                .invalid {
                    color: $invalid !important;
                }

                .actions {
                    width: 10%;

                    span {
                        display: inherit;
                        padding: 2px;
                    }
                }
            }
        }
    }

    @media (max-width: 1000px) {
        #users,
        #courses {
            .card-header.d-flex {
                flex-direction: column;
            }
        }
    }
}
