@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: .4;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: .4;
    }
}

.icon-link {
    &.disabled {
        cursor: default;
        opacity: .5;
    }

    i {
        transition: .2s ease-in-out transform;
    }
}

.icon-link-hover:hover:not(.disabled) {

    i {
        transform: translate3d(.25em, 0, 0);
    }

    i.icon-link-hover-left {
        transform: translate3d(-.25em, 0, 0);
    }
}

.pulse {
    animation: pulsate 1s infinite;
}

.footer-content {
    margin-top: 30px;
}

.card {
    margin-bottom: 20px;
}

.expired {
    color: var(--bs-gray-500);
    font-style: italic;
}

.selected-bg {
    background-color: #80808014;
}

.h2 span.secondary-title {
    color: grey;
    font-size: 1rem;
}

.dropdown-with-icon .dropdown-item > i {
    width: 25px;
    text-align: center;
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

// Equivalent to bootstrap's $zindex-modal-backdrop.
.z-index-backdrop {
    z-index: 1200;
}

.show-icon-on-hover {
    i[class*=" fa"] {
        display: none;
    }

    &:hover i[class*=" fa"] {
        display: inline;
    }
}

.table-responsive {
    td, th {
        white-space: nowrap;
        vertical-align: middle;
    }
}
