#card {
    .card-header {
        #edit-failed-box2,
        #edit-failed-box3,
        #edit-failed-box4 {
            color: red;
        }
    }

    .box2,
    .box3,
    .box4 {
        .card-body {
            padding-right: 0.5rem !important;
            padding-left: 0.5rem !important;
        }

        .card-body:has([id^="rct-editor"]) {
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
        }

        [id^="rct-editor"].editing {
            border: 1px solid rgba(215, 215, 215, 0.35);
        }
    }

    .box1 {
        .media-status {
            .progress {
                height: 20px;
                width: 50%;
                margin: auto;
            }
        }
    }

    .box2 {
        .card-body {
            height: 31.9em;
            overflow-y: scroll;
        }

        // Make the card body resizable
        #transcription-viewer {
            resize: vertical;
            overflow: auto;
        }

        tbody tr {
            td.actions {
                max-width: 35px;
                min-width: 35px;
                text-align: center;
            }
        }

        .editing {
            tbody tr {
                td.speaker {
                    background-color: #e3e3e3;
                }

                td.speech {
                    background-color: #c3c3c3;
                    width: 100%;
                }

                td.actions {
                    background-color: #c3c3c3;

                    .action {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .box5 {
        .attachments-list {
            div {
                padding: 0.25rem;
            }

            div:nth-last-child(n+2) {
                border-bottom: 1px solid #dee2e6;
            }

            .attachment {
                padding-left: 0.5rem;
            }

            .attachment:hover {
                background-color: #f6f6f6;
            }
        }
    }
}

#configure-card {
    #rct-date-picker {
        .react-datepicker-wrapper {
            // Avoid width issue with date picker
            display: block;
        }
    }
}

#print-card {
    .break-page {
        break-after: page;
    }
}

#card, #print-card {
    .box2 {
        tbody tr {
            font-size: 12px;
            line-height: 1.2;
            height: 20px;

            td.line,
            td.speaker {
                max-width: 35px;
                min-width: 35px;
            }
        }
    }

    .box2 tbody tr, .font-transcription {
        font-family: courier, serif;
    }
}
