#card {
    .card-header {
        #edit-failed-box2,
        #edit-failed-box3,
        #edit-failed-box4 {
            color: red;
        }
    }

    .box4,
    .box3 {
        .card-body {
            padding: 1rem !important;
        }

        .editing {
            border: 1px dashed #80808059;
        }
    }

    .box2 {
        .card-body {
            padding: 1rem !important;
            height: 31.9em;
            overflow-y: scroll;
        }

        tbody tr {
            font-size: 12px;
            font-family: courier, serif;
            line-height: 1.2;
            height: 20px;

            td.line,
            td.speaker {
                max-width: 35px;
                min-width: 35px;
            }

            td.actions {
                max-width: 35px;
                min-width: 35px;
                text-align: center;
            }
        }
    }

    .box2 .editing {
        tbody tr {
            td.speaker {
                background-color: #e3e3e3;
            }

            td.speech {
                background-color: #c3c3c3;
                width: 100%;
            }

            td.actions {
                background-color: #c3c3c3;

                .action {
                    cursor: pointer;
                }
            }
        }
    }
}

#configure-card {
    #rct-date-picker {
        .react-datepicker-wrapper {
            // Avoid width issue with date picker
            display: block;
        }
    }
}
