#index-courses {
    .flex-table {
        display: flex;
        flex-direction: column;

        .flex-row {
            display: flex;
            padding: 10px;
            gap: 10px;
            border-bottom: 1px solid #ddd;
            align-items: center;
        }

        .flex-row:nth-child(even) {
            background-color: #f2f2f2;
        }

        .flex-row.header {
            font-weight: bold;
        }

        .flex-cell {
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .name {
            flex: 2;

            a {
                text-decoration: none;
                font-weight: bold;
            }
        }

        .managers,
        .date {
            flex: 1;
        }

        .description {
            flex: 3;
        }

        .deleted {
            .name a {
                text-decoration: line-through;
                color: rgba(#f00, .6);
                font-weight: normal;
            }

            .managers, .date, .description {
                color: rgba(#000, .3);
            }
        }
    }
}

#edit-course {
    .card-header {
        .title {
            font-size: 1.5em;
        }
    }
    .card-body {
        .badge {
            font-size: 1em;
            margin-bottom: 20px;
        }
    }
}

.description-tooltip {
    --bs-tooltip-max-width: 500px;
}

@include media-breakpoint-up(md) {
    .d-md-box {
        display: -webkit-box!important;
    }
  }
