.navbar {
    .nav-item {
        .nav-link {
            color: color-mix(in srgb, var(--on-primary-color) 85%, transparent);

            &:hover {
                color: var(--on-primary-color);
            }
        }

        .breadcrumbs {
            &,
            a {
                color: var(--on-primary-color);
            }
        }
    }
}
