#users {
    table {
        tbody {
            tr.invalid {
                color: #a2a5a7;
            }
        }
    }
}

#edit-user {
    .card-header {
        .title {
            font-size: 1.5em;
        }
        .badge {
            font-size: 1em;
        }
    }
    .account-expired {
        color: red;
    }
}
