@use 'sass:meta';
@use 'pkg:bootstrap/scss/bootstrap' with (
  $font-family-sans-serif: 'Nunito',
  $font-size-base: 0.9rem,
  $line-height-base: 1.6,
  $min-contrast-ratio: 3,
  $primary: #05a69d,
);
@use 'pkg:@fortawesome/fontawesome-free/scss/fontawesome' as fa;
@use 'pkg:@fortawesome/fontawesome-free/scss/solid' as fa-solid;
@use 'pkg:@uppy/core/css/style.css' as uppy-core;
@use 'pkg:@uppy/dashboard/css/style.css' as uppy-dashboard;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// --------------
// App stylesheets
// --------------

// Base
@include meta.load-css('base');

// Legacy styles
@include meta.load-css('legacy');

// Navbar
@include meta.load-css('header');

// Admin views
@include meta.load-css('admin');

// Login views
@include meta.load-css('login');

// Invitation views
@include meta.load-css('invitations');

// User views
@include meta.load-css('users');

// Courses views
@include meta.load-css('courses');

// Files views
@include meta.load-css('files');

// Cards views
@include meta.load-css('cards');

// States views
@include meta.load-css('states');

// Finder views
@include meta.load-css('finder');
